// Define variables for your color scheme

// For example:
$red: #A8796D;
$blue: #87ACCC;
$yellow: #C79D4A;
$orange: #DA944A;
$green: #9EA98B;
$gray: black;
$light-gray: #ecf0f1;

$deepaqua: #003B46;
$ocean: #07575B;
$wave: #66A5AD;
$seafoam: #C4DFE6;
